.main_login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main_login section {
  flex: 1;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
}

.login_image {
  box-sizing: border-box;
}

.login_image img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.login_form {
  width: 70%;
  min-width: 300px;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 5%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 black;
}

.email_login {
  width: 100%;
  box-sizing: border-box;
  color: #0078d7;
  padding: 5px;
  border-radius: 5px;
  border: none;
  border: 1px solid #0078d7;
}

.password_login {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.password_login input {
  width: 100%;
  padding: 5px;
}

.password_login img {
  width: 40%;
}

.password_login button {
  background-color: transparent;
  border: 1px solid #0078d7;
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.send_login {
    width: 100%;
    cursor: pointer;
    color: #0078d7;
    border: 1px solid #0078d7;
    padding: 5px;
    border-radius: 5px;
}

.continue_google_login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
    border: 1px solid #0078d7;
    border-radius: 5px;
    cursor: pointer;
}

.continue_google_login img {
    width: 5%;
    min-width: 25px;
}