nav {
    width: 100%;
    height: 70px;
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    background-color: #F0F2F5;
}

a {
    text-decoration: none;
    color: #0078D7;
}

nav .about {
    white-space: nowrap;
    margin-right: 20%;
}

nav .home {
    white-space: nowrap;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 50%;
    min-width: 200px;
}